*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

#title{
    text-align: center;
    margin-top: 5%;
}

/* .slide{
    height: 50vh;
} */
.btn{
    color: #fff;
    background-color: #fd7e14 ;
    border: none;
}
.btn:hover{
    color: #fd7e14;
    background-color: antiquewhite;
}
.imgDetail{
    max-width: 20rem;
    height: 20rem;
}
.modal-dialog{
    max-width: 70%;
}

